* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;
}
body,h1,h2,h3,h4,h5,h6, p {
    font-family: "Poppins", sans-serif;
    font-family: "Geologica", sans-serif;
}* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;
}
body,h1,h2,h3,h4,h5,h6, p {
    font-family: "Poppins", sans-serif;
    font-family: "Geologica", sans-serif;
}