* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #080808;
    color: #fff;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Poppins", sans-serif;
    font-family: "Geologica", sans-serif;
}

/*---Header---*/

#header {
    width: 100%;
    height: 1000px;
    padding: 45px;
    /*background-size: contain;
    background-position: center;
    position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;*/
    border-radius: 80%;
}

/*---Nav---*/

.container1 {
    width: 100%;
    height: 1000px;
    padding: 45px;
    background-image: url(images/backrough.jpg);
    background-position: center;
    position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

* nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

.logo {
    width: 140px;
}

ul {
    overflow: hidden;
    display: block;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    position: relative;
    text-shadow: 1px 1px 2px black, 0 0 25px rgb(222, 124, 241), 0 0 5px darkblue;
}

nav ul li a::after {
    content: "";
    width: 0%;
    height: 3px;
    background: rgb(222, 124, 241);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

/*---wrapper---*/

.wrapper {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}

#introtext {
    margin-top: 250px;
    margin-bottom: 20px;
    font-size: 30px;
}

#col {
    justify-content: center;
    text-align: center;
    border: 1px solid #d41d86;
    border-radius: 20px;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(226, 104, 174, 0.1) 0%, rgba(212, 29, 134, 0.05));
}

.features-card {
    justify-content: center;
    text-align: left;
    border: 1px solid #d41d86;
    border-radius: 20px;
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(226, 104, 174, 0.1) 0%, rgba(212, 29, 134, 0.05));
}

.row {
    width: 78%;
}

/*---casestudy---*/

